<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="deep.launchType">
<stringAttribute key="deep.Model.ATTR_DEEP_LOCATION" value="/HelloWorld"/>
<stringAttribute key="deep.Model.ATTR_DEEP_PROGRAM" value="HelloWorld.deep"/>
<stringAttribute key="deep.Model.ATTR_TARGET_CONFIG" value="BootFromRam"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/HelloWorld/HelloWorld.deep"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
</launchConfiguration>
